<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styleKJS.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
</head>

<body>

    <h1>Test your English</h1>

    <div id="app">
        <div v-for="(question, index) in test.questions" class="test">
            <div v-show="index === questionIndex">
                <h2>{{ question.number }}</h2>

                <ul>
                    <li v-for="variant in question.variants">
                        <label>
                            <input type="radio" v-bind:value="variant.correct" v-bind:name="index" v-model="userVariants[index]" v-bind:checked="marked"> {{variant.option}}
                        </label>
                    </li>
                </ul>
                <button v-on:click="next">Next</button>
            </div>
        </div>
        <div v-show="questionIndex === test.questions.length">
            <h2>Test is finished</h2>
            <p>
                Your results: {{ score() }} / {{ test.questions.length }}
            </p>
        </div>
    </div>

    <script src="kursovik.js"></script>
</body>

</html>
